body {
    background-color:navajowhite;
}

.search {
    width: 80%; 
    max-width: 600px; 
    margin: 20px auto; 
    padding: 10px;
    background-color: #f4e1c6; 
    border-radius: 10px;
    border: 2px solid burlywood;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search input[type="text"] {
    width: 80%;
    padding: 10px;
    font-size: 16px;
    border: 2px solid burlywood;
    border-radius: 5px;
}

.search button {
    padding: 10px 15px;
    font-size: 16px;
    background-color: burlywood;
    border: solid black 2px;
    margin-left: 5px;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

.search button:hover {
    background-color: sienna;
}

.search_filter_container {
    align-items: center;
    display: flex;
    justify-content: flex-start; /* Align items to the left */
    align-items: center;
    gap: 5px; /* Reduce space between elements */
    margin-bottom: 10px;
    width: 100%;
    max-width: 800px; /* Set a max width */
    margin-left: auto;
    margin-right: auto; /* Center the container */
}

.search,
.filter {
    display: flex;
    align-items: center;
    gap: 5px; /* Reduce gap between dropdown and button */
}


.filter select {
    padding: 10px;
    font-size: 16px;
    border: 2px solid burlywood;
    border-radius: 5px;
    background-color: #f4e1c6;
    color: #333;
    cursor: pointer;
    width: 150px;
    padding: 8px;
}

.filter button {    
    display: inline;
    font-size: 16px;
    background-color: burlywood;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    padding: 8px 12px;
    white-space: nowrap;
}


.banner {
    background-color: burlywood;
    border: solid black 2px;
    border-radius: 10px;
    text-align: center;
    font-size:20px;
}

.logo {
    text-align: center;
    font-size: 50px;
    text-size-adjust: 50px;
}

link {
    text-emphasis-color: brown;
    color: brown;
}

.bannerButton {
    font: 20px;
    text-decoration:gold;
    background-color: navajowhite;
    color: #333333;
    padding: 5px;
    margin-left: 5px;
    border:solid gray;
    border-top: 3px solid #8d8d8d;
    border-right: 3px solid #333333;
    border-bottom: 3px solid #333333;
    border-left: 3px solid #8d8d8d;
    border-radius: 10px;
  }

.error {
    color: red;
    background-color: burlywood;
    text-align: center;
    width: 100%;
    border-radius: 10px;
    border: solid black;
}

.product {
    display:inline;
    font:13px;
    border: none;
}

.product img {
    width: 128px;
    height: 128px;
}

.product input[type = "number"] {
    width: 2%;
    padding: 3px;
    font-size: 10px;
    border: 2px solid burlywood;
    border-radius: 5px;
}

.product input[type="submit"] {
    font-size: 11px;
    position: relative;
    background-color: burlywood;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    padding: 10px;
    white-space: nowrap;
    border: solid 2px black;
    display: flex;
    justify-content: center;
}

.product button {
    background-color: green;
    color: white;
    font-size: 12px;
    padding: 8px 8px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.login {
    width: 80%; 
    max-width: 600px; 
    margin: 20px auto; 
    padding: 7px;
    background-color: #f4e1c6; 
    border-radius: 10px;
    border: 2px solid burlywood;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}

.login input[type="text"] {
    width: 80%;
    padding: 10px;
    font-size: 13px;
    border: 2px solid burlywood;
    border-radius: 5px;
}

.login input[type="submit"] {
    font-size: 11px;
    position: relative;
    background-color: burlywood;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    padding: 10px;
    white-space: nowrap;
    border: solid 2px black;
    display: flex;
    justify-content: center;
}

.cart-items li {
    background-color: burlywood;
    padding: 15px;
    margin: 10px 0;
    border-radius: 5px;
    border: 2px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

.cart-items li button {
    background-color: maroon;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
}

.cart-items li button:hover {
    background-color: darkred;
}

.checkout-button {
    display: block;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.checkout-button button {
    background-color: green;
    color: white;
    font-size: 18px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.checkout-button button:hover {
    background-color: darkgreen;
}
