    <!DOCTYPE html> 

<html>
    <head>
        <Title>Create Account</Title>
        <link rel="stylesheet" href="static\styles\Styles.css">
    </head>

    <div class = "logo" >

        Welcome to Max's Grocery!

    </div>

    <div class = "banner">

        <a href="/" class = "bannerButton">Home</a><a href="/login" class = "bannerButton">Log in</a>

    </div>

    <body>

        <div class = "login">
            <form action = "/CreateAccount" method = "POST">
                Username:<input type="text"name="username"><br> 
                Password:<input type="text"name="password"><br>
                Full Name: <input type = "text" name = "name"><br>
                <input type="submit"name="submit"> <br>
            </form>
        </div>
    
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <div class="error"> {{ message }} </error>
                {% endfor %}
            {% endif %}
        {% endwith %}

    </body>
    
</html>