<!DOCTYPE html>
<html>
    <head>
        <title>Home Page</title>
        <link rel="stylesheet" href="static\styles\Styles.css">
    </head>


    <div class = "logo" >

        Welcome to Max's Grocery!

    </div>

    {% if session.get('loggedIn') %}

        <div class="banner">

            <a href="/" class = "bannerButton">Home</a><a href="/Cart" class = "bannerButton">Cart</a><a href="/logout" class = "bannerButton">Logout</a><a href="/orders" class = "bannerButton">Order History</a>

        </div>
    
    {% else %}

        <div class="banner">

            <a href="/" class = "bannerButton">Home</a><a href="/login" class = "bannerButton">Log In</a> 

        </div>
    
    {% endif %}
        

    <div class = "search_filter_container">
        <br>
        <form action="/search" method="POST" class = "search">
            <input type="text" name="search">
            <button type="submit">Search</button>
            <button type="submit">Reset</button>
        </form>

        <form method="GET" action="/" class = "filter">
            <select name="category">
                <option value="None" {% if selected_category == "None" %} selected {% endif %}>None</option>
                {% for catagory in catagories %}
                    <option value="{{catagory[0]}}" {% if selected_category == catagory[0] %} selected {% endif %}>
                        {{ catagory[0] }}
                    </option>
                {% endfor %}

            </select>
            <button type="submit">Filter</button>
        </form>
        
    </div>



    <body>
        <div>
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                        <div class="error"> {{ message }} </error>
                    {% endfor %}
                {% endif %}
            {% endwith %}
        </div>


        {% if session.get('loggedIn') %}

            <h2>Welcome {{ session['name'] }}! Below is our current selection!</h2>
            <ul>
                {% for prod in products %}
                    <div class = "product">
                        <img src = "static\images\{{ prod['name'] }}.png">
                        <li>
                            {{ prod['name'] }} - ${{ "%.2f"|format(prod['price']) }} | Quantity : {{ prod['quantity'] }}

                            <form action="/addToCart" method="POST" style="display:inline;">
                                <input type="hidden" name="product_id" value="{{ prod['prodID'] }}">
                                <label for="quantity_{{ prod['prodID'] }}"></label>
                                <input type="number" id="quantity_{{ prod['prodID'] }}" name="quantity" min="0" max="{{ prod['quantity'] }}" value="0">
                                <button type="submit">Add to Cart</button>
                            </form>
                        </li>
                    </div>
                {% endfor %}
            </ul> 
        {% else %}

            <p>Available Products:</p>
            <ul>
                {% for prod in products %}
                    <div class = "product">
                        <img src = "static\images\{{ prod['name'] }}.png">
                        <li>
                            {{ prod['name'] }} - ${{ "%.2f"|format(prod['price']) }} | Quantity : {{ prod['quantity'] }}

                            <form action="/addToCart" method="POST" style="display:inline;">
                                <input type="hidden" name="product_id" value="{{ prod['prodID'] }}">
                                <label for="quantity_{{ prod['prodID'] }}"></label>
                                <input type="number" id="quantity_{{ prod['prodID'] }}" name="quantity" min="0" max="{{ prod['quantity'] }}" value="0">
                                <button type="submit">Add to Cart</button>
                            </form>
                        </li>
                    </div>
                {% endfor %}
            </ul>

        {% endif %}

        

    </body>
</html>