<!DOCTYPE html>

<html>

    <head>
        <link rel="stylesheet" href="static\styles\Styles.css">
        <title>Cart</title>
    </head>


    <div class = "logo" >

        Welcome to Max's Grocery!

    </div>


    <div class="banner">

        <a href="/" class = "bannerButton">Home</a><a href="/Cart" class = "bannerButton">Cart</a><a href="/logout" class = "bannerButton">Logout</a>

    </div>


    <body>
        {% for order in orders %}
            <div class = "cart-items">
                <ul>
                    <li> {{ order }}
                </ul>
            </div>
        {% endfor %}

        
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <div class="error"> {{ message }} </error>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </body>

</html>